:root {
    --background-color: rgb(245, 155, 155);
    --header-color:rgb(231, 122, 122);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

aside {
    margin: 0;
    padding-top: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--header-color);
    float: left;
    display: block;
    margin-right: 20px;
}

.content {
    display: block;
    padding: 20px;
}

footer {
    bottom: 0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

img {
    margin-top: 15px;
}
